EXCEL_MAESTRO__PATH=./registro/nombre_excel_maestro.xlsx # Cambiar por el nombre real que se le ingresara al excel maestro
EXCEL_PATH=registro/nombre_excel.xlsx # Cambiar nombre por el archivo analizar
ARCHIVO_GUARDADO_ID=test.md
HOJA_MAESTRO_AUDITORIA=Historial
