# Registro de Excel Maestro y Respaldos
registro/*
!registro/*/
!registro/.gitkeep
registro/Respaldos_Excel/*
!registro/Respaldos_Excel/.gitkeep

# Ignorar json normal
ingreso_masivo.json

# env de python
envFME/
.env


# Caché y archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar configuracion de visual code 
/.vscode 

